<div class="container">
    <div class="contact-info">
        <div class="footer-colum">
            <img width="100" alt="堪星球" src="../assets/images/littleplanet.png" />
        </div>
        <div class="footer-colum"></div>
        <div class="footer-colum">
            <h1>服务</h1>
            <h2>最新城市资讯平台</h2>
            <h2>商业广告咨询</h2>
            <h2>广告、图文设计及制作</h2>
            <h2>企业文化、企业形象、</h2>
            <h2>艺术活动 策划服务</h2>
        </div>
        <div class="footer-colum">
            <h1>关于我们</h1>
            <h2>联系方式</h2>
            <img width="140pt" alt="堪星球" src="../assets/images/contact.jpg" />

        </div>

    </div>
    <div class="certification">
        <!-- <a target="_blank" href="../assets/images/contact.jpg" style="line-height:20px">sample.pdf</a> -->
        <a target="_blank" href="../assets/images/cer.jpg">堪星球印象阳光广告</a>
        <a target="_blank" href="../assets/images/icp.jpg">ICP备案2021007086</a>
    </div>

</div>