
<head>
  <title>CBR-Planet</title>
</head>
<div class="container">
  <mat-toolbar class="toolbar">
    <img
    width="40"
    alt="堪星球"
    src="../assets/images/littleplanet.png"
  />
    <span>CBR-Planet</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>


  <!-- <div class="container"> -->
  <app-animation-text></app-animation-text>
  <app-step-indicator></app-step-indicator>
  <app-footer></app-footer>
  <!-- </div> -->


</div>

<router-outlet></router-outlet>