<div class="container">
    <div class="service">
        <p class="location-text-title">选择我们</p >
            <div class="service-items">
                <p class="service-item">商业广告咨询</p>
                <p class="service-item">广告计设及制作<br> 图文设计及制作</p>
                <b class="service-item">   广告工程    <br> 企业文化 <br> 企业形象 <br>艺术活动 <br>  策划服务</b>



            </div>


    </div>



    <!-- <div data-v-78d4ab95="" data-animation="animate__animated animate__fadeInUp animate__delay-3s"
        class="download-app-image animate__animated animate__fadeInUp animate__delay-3s" style="opacity: 1;">
        <img data-v-78d4ab95="" src="https://www.easi.com.au/_nuxt/img/home_showpic.39baf52.png" alt="app image">
    </div> -->
</div>